$header-height: 50px;
$background: #3D3B40;
$primary: #8dcfb1;
$secondary: #A7ECEE;
$accent: #5FBDFF;

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $accent;
  &-btn {
    cursor: pointer;
    border: none;
    margin: 5px;
    margin-right: 10px;
    border-radius: 100%;
    width: 70px;
    background-color: $primary;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0;
    img {
      max-width: 80%;
      max-height: 80%;
    }
  }
  .menu-container {
    display: flex;
    align-items: center;
  }
  .burger-icon {
    cursor: pointer;
    padding: 10px;
  }
  .bar {
    width: 25px;
    height: 3px;
    background-color: $primary;
    margin: 5px 0;
  }
  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: $background;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .menu-items a {
    padding: 20px;
    text-decoration: none;
    color: $secondary;
  }
  .menu-items a:hover {
    background-color: $accent;
    color: $background;
  }
  .menu-items.active {
    display: flex;
  }
}
