<div class="grid-container">
  <div class="about">
    <span></span>
    <h2>Hello, I'm Cristaldo <span>Mariela</span></h2>
    <p>
      And i choose <span>TypeScript</span> and i love it, because i can make the
      fronted and the backend in the same language, so i can use the two most
      powerful web development frameworks: <span>Angular</span> and
      <span>NestJS.</span>
    </p>
    <div class="about-links">
      <a routerLink="/projects" routerLinkActive="active"><span>&#9829;</span> See my projects</a>
      <a routerLink="/courses" routerLinkActive="active"><span>&#9829;</span> Course certificates</a>
    </div>
  </div>

  <div class="me" title="It's me!">
    <img src="../../assets/me.PNG" />
  </div>

  <div class="tech">
    <h3><span>Tech</span> i use:</h3>
    <div class="tech-container">
      <a href="https://www.typescriptlang.org/"
        ><img
          src="../../assets/typescript-programming-language-icon.svg"
          title="TypeScript"
      /></a>
      <a href="https://docs.nestjs.com/"
        ><img src="../../assets/nest-js-icon.svg" title="NestJS"
      /></a>
      <a href="https://www.docker.com/"
        ><img src="../../assets/docker-icon.svg" title="Docker"
      /></a>
      <a href="https://typeorm.io/"
        ><img src="../../assets/typeorm.svg" title="TypeORM"
      /></a>
      <a href="https://www.postgresql.org/"
        ><img src="../../assets/postgresql-icon.svg" title="PostgreSQL"
      /></a>
      <a href="https://angular.io/"
        ><img src="../../assets/angular-icon.svg" title="Angular"
      /></a>
      <a href=""><img src="../../assets/html-icon.svg" title="HTML" /></a>
      <a href="https://sass-lang.com/"
        ><img src="../../assets/sass-icon.svg" title="Sass"
      /></a>
    </div>
  </div>
</div>
