<div class="grid">
  <div>
    <h1>Rick and Morty</h1>
    <p>
      Rick and Morty api integration in angular,responsive styles made in sass
      by myself, angular router usage, organized into components
    </p>
    <img src="../../assets/homeRickandMorty.PNG" title="This is the home" />
    <p>It has pagination...</p>
    <img src="../../assets/explicarflechitas.PNG" />
    <p>
      It's fully responsive and when you click into a character you will see the
      details of him
    </p>
    <img class="tinier" src="../../assets/alhacerclick.PNG" />
  </div>

  <div>
    <h1>Basic CRUD</h1>
    <p>
      A very basic crud i made, the back on NestJS and the front using Angular
      Material to make it quicker
    </p>
    <img src="../../assets/crudsito basico.PNG" alt="" />
  </div>

  <div>
    <h1>Froot Loops</h1>
    <p>
      A some kind of copy of Instagram on the backend, it's not finished yet,
      but it's the most complex of my projects, it has authentication,
      authorization by roles, image uploads, a docker made database by typeorm
      for postgres, pagination and i don't remember what else...
    </p>
    <img
      class="tinier"
      src="../../assets/frootTypeorm.PNG"
      title="This is the Post Entity"
    />
    <img
      class="tinier"
      src="../../assets/frootProfile.PNG"
      title="The User controller"
    />
    <img
      class="tinier"
      src="../../assets/frootAuth.PNG"
      title="jwt implementation"
    />
  </div>

  <p>
    You can see all this projects on my
    <a href="https://github.com/marie5610?tab=repositories">GitHub</a>
    repository
  </p>
</div>
